DEBUG=True
SECRET_KEY=YOUR_SECRET_KEY

# Database config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=django_job_platform_db
DB_USER=postgres
DB_PASSWORD=123456

# Cloudinary
CLOUD_NAME=datah8lgd
CLOUD_API_KEY=899758535566942
CLOUD_SECRET=nZAFBUzO70k6dkRT5FjUTY3nGII

# OAuth2
CLIENT_ID=LyduzanBngTo6DVR2MbCQA4nizt2Kur1sxO8B9Jk
CLIENT_SECRET=vvq0bXA7Df4DhhLr5Z9KszEToDviXRU4Q8t12bHsqZCFuSooUdffXahO5vWdIdyPOcH8Yy2K9OK4HyNXSMo1OIvhNfuwqRe41R8lbiXWk27rp01mjz7npC7fMaZHu6M0