DEBUG=True
SECRET_KEY=Author: Ximofam aka VIENTHUHAI

DJANGO_SUPERUSER_USERNAME=ximofam
DJANGO_SUPERUSER_EMAIL=vienpham177@gmail.com
DJANGO_SUPERUSER_PASSWORD=123456

JOB_EXPIRE_DAYS=10
JOB_PAGE_SIZE=20
JOB_MAX_PAGE_SIZE=100

# Database config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=django_job_platform_db
DB_USER=postgres
DB_PASSWORD=123456

# Cloudinary
CLOUD_NAME=datah8lgd
CLOUD_API_KEY=899758535566942
CLOUD_API_SECRET=nZAFBUzO70k6dkRT5FjUTY3nGII

# OAuth2
CLIENT_ID=tCbydjbnLdXcW0Jxjy4eHeTp1O5Q50dpJjQugWuX
CLIENT_SECRET=6Qk0GqBY08CZLKuDrup82q91aLv7CBHQUeyDmGmFPeu7XagMYKfCFnS0iWVMLaGSAXbp4XDnuc2GCg6jdZhQBOb06ZAzj68jruZJbQpVjBJxiO60TrZczr3kVO7u2pcl
ACCESS_TOKEN_EXPIRE_SECONDS=36000
REFRESH_TOKEN_EXPIRE_SECONDS=86400
TOKEN_CACHING_SECONDS=600

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=0
REDIS_URL=redis://:123456@localhost:6379/0

#celery
CELERY_BROKER_URL=redis://:123456@localhost:6379/0
CELERY_RESULT_BACKEND=redis://:123456@localhost:6379/0